.elemento-no-centro{
  text-align: center;
  margin bottom: 50px;
}

header .intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
}

div.a {
  text-align: center;
}
.plano-de-fundo{
  background-image: url("../img/moon.jpg");
  background-position: 30% 45%;
  background-size: cover;
}
.texto-branco{
  color: white;
}
.sombra {
  color: white; text-shadow: Cyan 0.1em 0.1em 0.2em
}
.ul {
  list-style-type:none
}

.color {
    background-color: #1a5b95;
}

.circle{
    width: 203px;
    height: 203px;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
}
    }
